#btnScrollToTop{
    position: fixed;
    right: 10px;
    bottom: 10px;
    width: 50px;
    height: 60px;
    border-radius: 50%;
    background: purple;
    box-shadow: 0 0 1px black;
    color: white;
    outline: none;
    cursor: pointer;
    border: none;
}
#btnScrollToTop:active{
    background: rgb(49, 0, 49);
}